.fallback-image-picker .fallback-images li {
    border: none;
    flex-direction: column;
}

.fallback-image-picker.use-value .fallback-images {
    opacity: 0.4;
}

.fallback-image-picker .value-images {
    opacity: 0.4;
}

.fallback-image-picker.use-value .value-images {
    opacity: 1;
}

.fallback-image-picker .add-link:disabled {
    cursor: not-allowed;
}

.fallback-image-picker .add-link:disabled:hover {
    color: #e9e9eb;
    border: 2px #e9e9eb dashed;
}
